.search-result{
  min-height: 0;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
}

.input-field-outer{
  display: flex;
  width: 100%;
  height: auto;
  gap: 5px;

  mat-form-field:nth-child(1){
    width: 70%;
  }
  mat-form-field:nth-child(2){
    width: 30%;
  }

}

ul{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    display: flex;
    margin: 0;
    width: 100%;
    height: 20px;
    gap: 10px;
    padding: 10px 0;

  }

  li:hover{
    cursor: pointer!important;
    background-color: #ebebeb!important;

  }
}
