table {
  width: 90rem;
  background-color: white;
}

mat-paginator{
  background-color: rgba(171, 51, 51, 0.49) !important;
}

.id-outer, .name-outer{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px !important;

  mat-icon{
    color: #002d70 !important;
  }
}
