<div class="header-outer">

  <div class="left-outer">
    <ng-content></ng-content>
  </div>

  <div class="right-outer">

    <div class="avatar-icon-outer" >
      <button color="primary" mat-icon-button matTooltip="calender">
        <mat-icon>event_note</mat-icon>
      </button>

    </div>
    <div class="avatar-icon-outer" >
      <button color="primary" mat-icon-button matTooltip="notification">
        <mat-icon>notifications</mat-icon>
      </button>
    </div>
    <div class="avatar-icon-outer" >
    </div>
  </div>
</div>
