mat-card {
  width: 90rem;
  background-color: white;
  border: none;
  border-radius: 3px !important;
  box-shadow: 0 0 0.5px rgb(23, 26, 31), 0 0 1px rgb(23, 26, 31);


  mat-card-header {
    height: 80px;
    font-family: "Exo 2", serif;
    font-weight: 600;
    font-size: 20px;
    //border: #ea0000 1px solid;
  }

  mat-card-content {
    //width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px !important;
    //border: #ea0000 1px solid;


    .txt-search-outer {
      display: flex;
      align-items: center !important;
      justify-content: start;
      width: 100%;
      height: 100%;
      font-family: "Exo 2", serif !important;
      //border: #171a1f 1px solid;

      form {
        .search-fields {
          //margin-top: 20px;
          height: 70%; // Adjust as needed
          display: flex;
          flex-direction: row !important;
          width: 100%;
          align-items: center;
          justify-content: start;
          //border: 1px solid blue;


          mat-label {
            padding: 0 !important;
            margin: 0 !important;
          }

          mat-form-field {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;

          }

          input[matInput] {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;
          }

        }

        .btn-product-outer {
          display: flex;
          align-items: center;
          justify-content: end;
          width: 100%;
          height: 100%;
          font-family: "Exo 2", serif !important;
          //border: #005cff 1px solid;
        }

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: #171a1f 1px solid;

      }
    }
  }
}

