*{
  padding: 0;
  margin: 0;
}
.app-main-outer{
  display: flex;
  width: 100%;
  height: 100%;
  //border: 1px solid red;

  .sidenav{
    display: flex;
    width: 90px;
    height: 100%;
    z-index: 1000!important;

    //border: 1px solid red;
  }

  .router-outlet-context{
    display: flex;
    width: 100%;
    height: 100%;
    //border: 1px solid red;
  }
}
